*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #fff;
  color: #6b7b84;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 0;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  text-align: center;
}

p{
  font-size: 16px;
  text-align: justify;
}

form{
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}

.background-image{
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 485px;
}

.content{
  padding: 20px;
}

.center{
  text-align: center;
}

#confirmDiv{
  display: none;
}

#bannerImage{
  background-image: url(../styles/images/laundrybanner.jpg);
}
